.header-container
{
	text-align: center;
}

a {
	text-decoration: none;
	color: #fff;
}

@font-face {
    font-family: "haymaker";
    src: url('Haymaker.ttf');
}

h1
{
	color:#fcb94d;
	font-family: "haymaker";
	font-weight: lighter;
}

h2 {
	color:#ffffff;
	font-family: "haymaker";
	font-weight: lighter;
}

h3 {
	color:#28723C;
	font-family: "haymaker";
	font-weight: lighter;
}

body
{
	background-image: url(bg-bois.jpg);
	background-color: #282016;
	color: white;
}

#top3 {
	color:#28723C;
	font-family: "haymaker";
	font-weight: bolder;
	font-size: 1.7em;
}

#bar-title {
	color: #28723C;
	text-align: center;
	font-family: "haymaker";
}

.title {
	text-align: center;
	position: relative;
	color: #ffffff;
	font-weight: bold;
}

.image_box {
	background-image: url(../static_morales/assets/photo-thibaud.jpg);
	top: 20px;
	background-size: 100px 120px; 
	position: relative;
	width: 100px;
	height: 100px;
	border: 8px solid #28723C;
	margin-left:auto;
	margin-right:auto;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.logo
{
	text-align: center;
	/*height: 100%;
	max-height: 100px;
	width: auto;*/
	max-width: 25%;
	height: auto;
	margin: 1em 0;
}

#theme {
	color:#ffffff;
	font-family: "haymaker";
	font-weight: lighter;
}

.footer-container {
	font-family: "haymaker";
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #30834e;
}

.myfooter
{
	width: 100%;
	padding: 20px 0 20px 0;
	position: absolute;
	background-color: #30834e;
	bottom: 0;
	left: 0;
}

.foot-text {
	color: #fff;
}

.block1
{
	float:left;
	width: 45%;
	height: 400px;
	margin-left: 3%;
}

.block1bis
{
	float:left;
	text-align: center;
	width: 45%;
	height: 400px;
	margin-left: 3%;
	margin-top: 12px;
	margin-bottom: auto;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}

.block2bis
{
	float:right;
	text-align: center;
	width: 20%;
	height: 400px;
	margin-top: 12px;
	margin-bottom: auto;
}

.block1_1
{
	width: 100%;
}

.block1_1bis
{
	width: 100%;
	text-align: center center;
	vertical-align: center;
}

.block1_2
{
	width: 100%;
	padding: 20px 0px 20px 0px;
	margin-bottom: 20px;
	margin-top: 20px;
	background-color: #fcb94d;
	padding-top: 20px;
	text-align: center;
	color: #000;
}

.block1_3
{
	width: 100%;
	height: 60%;
}

.reponse
{
	font-size: normal;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.clearblock
{
	width: 100%;
	border: 1px dotted white;
}

.block2
{
	float:left;
	width: 22%;
	height: 400px;
	margin-left: 3%;
}

.block3
{
	float:left;
	width: 200px;
	height: 400px;
	padding: 5px;
	/*border-left: 1px solid #ffffff;*/

}

.round {
	float: left;
	text-align: center;
	width:28px;
	height: 62px;
	font-family: "Haymaker";
	font-size: 1.3em;
}

.truc {
	margin-left: 10px;
}

.round-stand {
	float: left;
	text-align: center;
	width:28px;
	height: 35px;
	margin-bottom: 3px;
	font-family: "Haymaker";
	font-size: 1.3em;
}

.puce-round-stand {
	background:#fcb94d;
	padding-top: 3px;
	float: inherit;
	border-radius:50%;
	display: table-cell;
	width:24px;
	height:24px;
	vertical-align: bottom;
}

.puce-round {
	background:#fcb94d;
	margin-top: 7px;
	padding-top: 3px;
	float: inherit;
	border-radius:50%;
	display: table-cell;
	width:28px;
	height:28px;
	vertical-align: bottom;
}

.nb-reponses {
	text-align: center;
}

.nb-rep {
	color:#fcb94d;
}

.timer {
	text-align: center;
}