

<template name="manage">
	 <div class="main-container">
			<div class="main wrapper clearfix">
			{{#if isWaiting}}
				<article>
					<header>
						<h1>Voici la liste des questions :</h1>
					</header>
					<section>
						{{#each questions }}
							<h3>{{ question }}</h3>
							<ul>
							{{#each reponses}}
								<li>
								{{#if valid}}
									<span style="color: green">{{ reponse }}</span>
								{{else}}
									<span style="color: red">{{ reponse }}</span>
								{{/if}}
								</li>
							{{/each}}
							</ul>
						{{/each}}
					</section>
					<footer>
						<button id="button_start">Demarrer le quizz</button>
					</footer>
				</article>

				<aside>
					<h3>Status</h3>
					<p>Il y a actuellement {{ nb_users }} joueur en attente.</p>
					<h3>Series :</h3>
					<ul>
						<li class="series_filter_all"><a>Toutes</a></li>
						{{#each series }}
							<li data-filter="{{ this }}" class="series_filter_{{ this }}"><a>{{ this }}</a></li>
						{{/each}}
					</ul>
				</aside>
			{{else}}
				{{#if isSummary}}
					{{> summary}}
				{{else}}
					{{> roundstart}}
				{{/if}}
			{{/if}}
			</div> <!-- #main -->
		</div> <!-- #main-container -->

<!-- Eventuellement, un footer... (on s'en fout un peu...)
		<div class="footer-container">
			<footer class="wrapper">
				<h3>footer</h3>
			</footer>
		</div>
-->
</template>

<template name="roundstart">
	<article>
		<header>
			<h1>Nouveau round</h1>
			<progress id="timer" value="{{ timer }}" max="100" min="0">
		</header>
		<section>
		{{#with currentQuestion }}
			<h3>{{ question }}</h3>
			<ol>
			{{#each reponses }}
				<li class="reponse_{{ reponse }}">
					<a>{{ reponse }}</a>
				</li>
			{{/each}}
			</ol>
		{{/with}}
		</section>
		<footer>
			{{{ event_button }}}
		</footer>
	</article>
	<aside>
		<h2>Équipes</h2>
		<ul>
		{{#each teams }}
				<li>
					<img style="max-height: 100px;" src="{{ picture_name }}">
					<a>{{ group_name }}</a>
					<span class="right"> - [{{ score }} points]</span>
				</li>
		{{/each}}
		</ul>
		{{> progress}}
	</aside>
</template>

<template name="progress">
	{{#with progression }}
		<h2>Progression</h2>
		<p>{{ r }} / {{ total }} réponses</p>
		<p>{{ goor_r }} / {{ r }} bonnes réponses</p>
	{{/with}}
</template>

<template name="summary">
	<article>
		<header>
			<h1>Résultat général - <small>Série {{ winner.question_courante.categorie }}</small></h1>
		</header>
		<section>
			<h2>{{ winner.group_name }} a gagné !</h2>
			<ol>
			{{#each teams }}
					<li>
						<img style="max-height: 100px;" src="{{ picture_name }}">
						<a>{{ group_name }}</a>
						<span class="right">[{{ score }} points]</span>
					</li>
			{{/each}}
			</ol>
		</section>
		<footer>
			{{{ event_button }}}
		</footer>
	</article>
	<aside>
	</aside>
</template>

