
<template name="user">
	<div class="main-container">
		<div class="main wrapper clearfix">
			{{#if user_group}}
				{{#if take_picture}}
					{{#if attente}}
						{{>attente}}
					{{/if}}

					{{#if en_jeu}}
						{{>en_jeu	}}
					{{/if}}

					<aside>
						<h3>Status</h3>
						<p>Il y a actuellement {{ nb_users }} joueur en attente.</p>
					</aside>
				{{else}}
					{{> takepicture}}
				{{/if}}
			{{else}}
				{{> groupe}}
			{{/if}}
		</div> <!-- #main -->
	</div> <!-- #main-container -->
</template>

<template name="attente">
	<article>
		<header>
			<h1>En attente du lancement de la partie</h1>
		</header>
		<section>
		<!-- ... -->
		</section>
		<footer>
		<!-- ... -->
		</footer>
	</article>
</template>

<template name="en_jeu">
<article>
	{{#unless timer}}
		<header>
			<h4>Bienvenue au bar</h4>
			<h2>{{groupname}}</h2>
		</header>
		<section>
			<header>
				<div class="group-picture-draw"></div>
			</header>
			<article>
				<div class="wait-start-qcm">
					<span>Le jeu va</span>
					<span>bientot commencer.</span>
					<span>BE READY !</span>
				</div>
			</article>
		</section>
		<footer>
		<!-- ... -->
		</footer>
	{{else}}
		{{> qcmDisplay}}
	{{/unless}}
	</article>
</template>

<template name="takepicture">
	<article>
		<section>
			<div class="picture">
				<input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput">
			</div>
		</section>
	</article>
</template>

<template name="groupe">
	<article>
		<section>
			<div class="user-group">
				<input type="text" id="groupName"/>
			</div>
		</section>
	</article>
</template>

<template name="qcmDisplay">
	<header>
		<div class="index-question">
			<span>Q {{current_index}}/{{total_index}}</span>
		</div>
		<div class="curent-question">
			<span>{{question_courante.question}}</span>
		</div>
		</header>
		<section>
			<div class="answer-top">
				<a id="first">
					<div class="first-button">A</div>
				</a>
				<a id="second">
					<div class="second-button">B</div>
				</a>
			</div>
			<div class="answer-bottom">
				<a id="third">
				<div class="third-button">C</div>
				</a>
				<a id="last">
					<div class="last-button">D</div>
				</a>
			</div>
		</section>
		<footer>
			<progress id="timer-user" value="100" max="100" min="0">
		</footer>
</template>