
<template name="user">
	<div class="main-container">
		<div class="main wrapper clearfix">
			{{#if take_picture}}
				{{#if attente}}
					{{>attente}}
				{{/if}}

				{{#if en_jeu}}
					{{>en_jeu	}}
				{{/if}}

				<aside>
					<h3>Status</h3>
					<p>Il y a actuellement {{ nb_users }} joueur en attente.</p>
				</aside>
			{{else}}
				{{> take-picture}}
			{{/if}}
		</div> <!-- #main -->
	</div> <!-- #main-container -->
</template>

<template name="attente">
	<article>
		<header>
			<h1>En attente du lancement de la partie</h1>
		</header>
		<section>
		<!-- ... -->
		</section>
		<footer>
		<!-- ... -->
		</footer>
	</article>
</template>

<template name="en_jeu">
	<article>
		<header>
			<h1>La partie est lancee !</h1>
			<h2></h2>
		</header>
		<section>
		<!-- ... -->
		</section>
		<footer>
		<!-- ... -->
		</footer>
	</article>
</template>

<template name="take-picture">
	<article>
		<section>
			<div class="picture">
				<input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput">
			</div>
		</section>
	</article>
</template>